## Python statistics essential training - 03_02_distributions

Standard imports

In [2]:
import numpy as np
import scipy.stats
import pandas as pd

In [3]:
import matplotlib
import matplotlib.pyplot as pp

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [4]:
import re
import mailbox
import csv

In [5]:
china1965 = pd.read_csv('income-1965-china.csv')
china2015 = pd.read_csv('income-2015-china.csv')
usa1965 = pd.read_csv('income-1965-usa.csv')
usa2015 = pd.read_csv('income-2015-usa.csv')

In [6]:
# Information on the DataFrame
china1965.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   income        1000 non-null   float64
 1   log10_income  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [7]:
china1965.head()

     income  log10_income
0  1.026259      0.011257
1  0.912053     -0.039980
2  0.110699     -0.955857
3  0.469659     -0.328217
4  0.374626     -0.426402

In [8]:
# Minimum value
china1965.min()

income          0.041968
log10_income   -1.377078
dtype: float64

In [9]:
# Maximum value
china1965.max()

income          5.426802
log10_income    0.734544
dtype: float64

In [10]:
# Average values
china1965.mean()

income          0.660597
log10_income   -0.274157
dtype: float64

In [11]:
# Variance of the data
china1965.var(ddof=0)

income          0.208846
log10_income    0.088610
dtype: float64

In [12]:
# The 25th and 75th quantile
china1965.quantile([0.25,0.75])

        income  log10_income
0.25  0.344130     -0.463277
0.75  0.863695     -0.063640

In [13]:
# The 50th quantile
china1965.quantile(0.5)

income          0.557477
log10_income   -0.253773
Name: 0.5, dtype: float64

In [14]:
# Same as 50 quantile
china1965.median()

income          0.557477
log10_income   -0.253773
dtype: float64

In [15]:
# The percentile score of a variable
scipy.stats.percentileofscore(china1965.income,1.5)

95.5

In [16]:
# Summary statistics for china 1965
china1965.describe()

            income  log10_income
count  1000.000000   1000.000000
mean      0.660597     -0.274157
std       0.457226      0.297822
min       0.041968     -1.377078
25%       0.344130     -0.463277
50%       0.557477     -0.253773
75%       0.863695     -0.063640
max       5.426802      0.734544

In [17]:
# Summary statistics for  usa 1965
usa1965.describe()

            income  log10_income
count  1000.000000   1000.000000
mean     31.587965      1.418835
std      22.101531      0.262200
min       4.177852      0.620953
25%      17.498592      1.243003
50%      26.069531      1.416133
75%      39.017113      1.591255
max     246.030397      2.390989