## Python statistics essential training - 02_03_pandas

Standard imports

In [1]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
planets = pd.read_csv('Planets.csv')

In [3]:
planets

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
0,MERCURY,0.3300,4879,4222.6,57.9,88,47.4,167,0.00000,0,No,Yes,1974-03-29,Mariner 10
1,VENUS,4.8700,"12,104",2802.0,108.2,224.7,35.0,464,92.00000,0,No,No,1962-08-27,Mariner 2
2,EARTH,5.9700,"12,756",24.0,149.6,365.2,29.8,15,1.00000,1,No,Yes,NaN,NaN
3,MOON,0.0730,3475,708.7,NaN,27.3,1.0,-20,0.00000,0,No,No,1959-09-12,Luna 2
4,MARS,0.6420,6792,24.7,227.9,687,24.1,-65,0.01000,2,No,No,1965-07-15,Mariner 4
5,JUPITER,1898.0000,"142,984",9.9,778.6,4331,13.1,-110,NaN,67,Yes,Yes,1973-12-04,Pioneer 10
6,SATURN,568.0000,"120,536",10.7,1433.5,"10,747",9.7,-140,NaN,62,Yes,Yes,1979-09-01,Pioneer 11
7,URANUS,86.8000,"51,118",17.2,2872.5,"30,589",6.8,-195,NaN,27,Yes,Yes,1986-01-24,Voyager 2
8,NEPTUNE,102.0000,"49,528",16.1,4495.1,"59,800",5.4,-200,NaN,14,Yes,Yes,1989-08-25,Voyager 2
9,PLUTO,0.0146,2370,153.3,5906.4,"90,560",4.7,-225,0.00001,5,No,NaN,2015-07-14,New Horizons

In [4]:
# Subset of columns
planets = pd.read_csv('Planets.csv', usecols=[0, 1, 2, 3])

In [6]:
planets

    Planet       Mass Diameter  DayLength
0  MERCURY     0.3300     4879     4222.6
1    VENUS     4.8700   12,104     2802.0
2    EARTH     5.9700   12,756       24.0
3     MOON     0.0730     3475      708.7
4     MARS     0.6420     6792       24.7
5  JUPITER  1898.0000  142,984        9.9
6   SATURN   568.0000  120,536       10.7
7   URANUS    86.8000   51,118       17.2
8  NEPTUNE   102.0000   49,528       16.1
9    PLUTO     0.0146     2370      153.3

In [ ]:
planets['Mass']

In [ ]:
# Dot notation
planets.Mass

In [7]:
planets.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
planets.loc[0]

Planet       MERCURY
Mass            0.33
Diameter        4879
DayLength     4222.6
Name: 0, dtype: object

In [9]:
planets.set_index('Planet', inplace=True)

In [ ]:
planets

In [10]:
planets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, MERCURY to PLUTO
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Mass       10 non-null     float64
 1   Diameter   10 non-null     object
 2   DayLength  10 non-null     float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes

In [11]:
len(planets)

10

In [ ]:
planets.loc['MERCURY']

In [ ]:
planets.loc['MERCURY' : 'EARTH']

In [12]:
planets.columns

Index(['Mass', 'Diameter', 'DayLength'], dtype='object')

In [13]:
planets = pd.read_csv('Planets.csv')

In [14]:
planets.set_index('Planet', inplace=True)

In [15]:
planets.FirstVisited['MERCURY']

'1974-03-29'

In [16]:
planets.loc['MERCURY'].FirstVisited

'1974-03-29'

In [17]:
planets.loc['MERCURY', 'FirstVisited']

'1974-03-29'

In [ ]:
type(planets.loc['MERCURY', 'FirstVisited'])

In [18]:
pd.to_datetime(planets.FirstVisited)

Planet
MERCURY   1974-03-29
VENUS     1962-08-27
EARTH            NaT
MOON      1959-09-12
MARS      1965-07-15
JUPITER   1973-12-04
SATURN    1979-09-01
URANUS    1986-01-24
NEPTUNE   1989-08-25
PLUTO     2015-07-14
Name: FirstVisited, dtype: datetime64[ns]

In [19]:
planets.FirstVisited = pd.to_datetime(planets.FirstVisited)

In [ ]:
planets.FirstVisited.dt.year

In [20]:
2018 - planets.FirstVisited.dt.year

Planet
MERCURY    44.0
VENUS      56.0
EARTH       NaN
MOON       59.0
MARS       53.0
JUPITER    45.0
SATURN     39.0
URANUS     32.0
NEPTUNE    29.0
PLUTO       3.0
Name: FirstVisited, dtype: float64